.flex-container{
    display: flex;
    background-color: aqua;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.flex-container div{
    padding: 10px;
    background-color: coral;
    margin: 5px;
}