.margin1{
    background-color: aqua;
    margin: 20px;
}
.margin2{
    background-color: aqua;
    margin: 20px 40px 0px 40px;
}
.margin3{
    background-color: aqua;
    margin: 0px;
}
.padding1{
    background-color: aquamarine;
    padding: 20px;
}
.padding2{
    background-color: aquamarine;
    padding: 20px 40px 20px 40px;
}
.padding3{
    background-color: aquamarine;
    padding: 0px;
}