/*p::first-letter{
    font-size: 30px;
}
/*Da todas las primeras letras más grandes de cada parrafo"::first-letter"*/
p:first-child::first-letter{
    font-size: 30px;
}
/*Asigna sólo a la primera letra del primer parrafo la modificación*/
